USE [master]
GO
/****** Object:  Database [movieDB]    Script Date: 23.11.2016 10:51:37 ******/
CREATE DATABASE [movieDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'movieDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\movieDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'movieDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\movieDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [movieDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [movieDB]
GO
/****** Object:  Table [dbo].[cast]    Script Date: 23.11.2016 10:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cast](
	[id] [int] NOT NULL,
	[character] [varchar](50) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[profilePath] [varchar](50) NOT NULL,
 CONSTRAINT [PK_cast] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[movie]    Script Date: 23.11.2016 10:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[movie](
	[id] [int] NOT NULL,
	[title] [varchar](50) NOT NULL,
	[overview] [varchar](700) NOT NULL,
	[releaseDate] [datetime] NOT NULL,
	[voteAverage] [float] NOT NULL,
	[posterPath] [varchar](50) NOT NULL,
	[genre] [varchar](200) NOT NULL,
	[runtime] [int] NOT NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[movieCast]    Script Date: 23.11.2016 10:51:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movieCast](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movieId] [int] NOT NULL,
	[castId] [int] NOT NULL,
 CONSTRAINT [PK_movieCast] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[cast] ([id], [character], [name], [profilePath]) VALUES (13, N'Marlin (voice)', N'Albert Brooks', N'/kahlMTdygrPJ28VYRhKPavYD9hs.jpg')
INSERT [dbo].[cast] ([id], [character], [name], [profilePath]) VALUES (14, N'Dory (voice)', N'Ellen DeGeneres', N'/4LG2bFkqOzxzR1kpnoDcwIVuQTG.jpg')
INSERT [dbo].[cast] ([id], [character], [name], [profilePath]) VALUES (19, N'Dr. Golan', N'Allison Janney', N'/fido6hwI8tFSZNt6HtP2DZH2eu6.jpg')
GO
INSERT [dbo].[movie] ([id], [title], [overview], [releaseDate], [voteAverage], [posterPath], [genre], [runtime]) VALUES (127380, N'Finding Dory', N'"Finding Dory" reunites Dory with friends Nemo and Marlin on a search for answers about her past. What can she remember? Who are her parents? And where did she learn to speak Whale?', CAST(N'2016-06-16T00:00:00.000' AS DateTime), 6.66, N'/z09QAf8WbZncbitewNk6lKYMZsh.jpg', N'Animation,Family', 97)
INSERT [dbo].[movie] ([id], [title], [overview], [releaseDate], [voteAverage], [posterPath], [genre], [runtime]) VALUES (188927, N'Star Trek Beyond', N'The USS Enterprise crew explores the furthest reaches of uncharted space, where they encounter a mysterious new enemy who puts them and everything the Federation stands for to the test.', CAST(N'2016-07-07T00:00:00.000' AS DateTime), 6.3, N'/mLrQMqyZgLeP8FrT5LCobKAiqmK.jpg', N'Action,Adventure,Science Fiction,Thriller', 122)
INSERT [dbo].[movie] ([id], [title], [overview], [releaseDate], [voteAverage], [posterPath], [genre], [runtime]) VALUES (223702, N'Sausage Party', N'Sausage Party, the first R-rated CG animated movie, is about one sausage leading a group of supermarket products on a quest to discover the truth about their existence and what really happens when they become chosen to leave the grocery store.', CAST(N'2016-07-11T00:00:00.000' AS DateTime), 5.93, N'/jDeDRLEa8JqB3xmKVy6q3bkmDt6.jpg', N'Adventure,Animation,Comedy,Fantasy', 83)
SET IDENTITY_INSERT [dbo].[movieCast] ON 

INSERT [dbo].[movieCast] ([id], [movieId], [castId]) VALUES (583, 259316, 37632)
INSERT [dbo].[movieCast] ([id], [movieId], [castId]) VALUES (584, 259316, 72466)
INSERT [dbo].[movieCast] ([id], [movieId], [castId]) VALUES (585, 259316, 77795)
GO
SET IDENTITY_INSERT [dbo].[movieCast] OFF
ALTER TABLE [dbo].[movieCast]  WITH CHECK ADD  CONSTRAINT [FK_movieCast_cast] FOREIGN KEY([castId])
REFERENCES [dbo].[cast] ([id])
GO
ALTER TABLE [dbo].[movieCast] CHECK CONSTRAINT [FK_movieCast_cast]
GO
ALTER TABLE [dbo].[movieCast]  WITH CHECK ADD  CONSTRAINT [FK_movieCast_movie] FOREIGN KEY([movieId])
REFERENCES [dbo].[movie] ([id])
GO
ALTER TABLE [dbo].[movieCast] CHECK CONSTRAINT [FK_movieCast_movie]
GO
USE [master]
GO
